<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <springProperty scope="context" name="app_name" source="alerts-api"/>
    <springProperty scope="context" name="app_port" source="8082"/>
    <springProperty scope="local" name="logstash_host" source="localhost"/>
    <springProperty scope="local" name="logstash_port" source="5000"/>
    <appender name="logstash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <param name="Encoding" value="UTF-8"/>
        <remoteHost>${logstash_host}</remoteHost>
        <port>${logstash_port}</port>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>
    <root level="INFO">
        <appender-ref ref="logstash"/>
    </root>
</configuration>